h2 {
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  border-bottom: 1px solid rgb(80, 80, 255);
  color: rgb(80, 80, 255);
  padding-bottom: 0.2rem;
}

.spanResposta {
  font-size: 15px;
  font-weight: bold;
  color: rgb(80, 80, 255);
  font-style: italic;
}
